/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: map-get($map: $variable, $key: vt-c-green-light);
  min-height: 100vh;
  min-width: 100vh;
  @include bg_color("vt-c-bg");
  #app {
    color: inherit;
  }
}
