/* color palette from <https://github.com/vuejs/theme> */
@use "adapter" as adapter;
$border: 0px solid green;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
}

// example
html {
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.5s;

  @include adapter.adapt-to("pc") {
    background-image: url("@/assets/imgs/杀生丸.jpeg");
  }

  @include adapter.adapt-to("mobile") {
    background-image: url("@/assets/imgs/地铁线路.jpg");
  }
}
