/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
body {
  width: 100vw;
  height: 100vh;
  @include theme-fc(vt-c-text-1);
  @include theme-bg(vt-c-bg-mute);
}
